.banner {
    background: url(../../img/banner-bg.png);
    background-size: cover;
           
}

.social-icon {
    width: 100px;
    margin-left: -25px;
}

.social-icon li {
    text-decoration: none;
    list-style: none;
    
}

.social-icon li i {
    color: black;
    font-size: 20px;
    margin: 0 8px;    
}

.social-icon li i:hover {
    color: #dc3545;
}

.hline {    
    border-bottom: 2px solid #dc3545;
    width: 8%;
    margin-right: 10px;
}
